.LayoutPage-container {
  align-items: center;
  border-bottom: 1px solid #000;
  display: flex;
  gap: 2em;
  padding: 1em;

  ul {
    display: flex;
    gap: 2em;
    list-style: none;
  }
}

.ErrorPage-container {
  margin: 5em 0;
  text-align: center;
}