section {
  margin: 1em;

  nav {
    background: #D1D1D1;
    margin: 1em 0;
    padding: 1px .5em;

    ul {
      display: flex;
      gap: 2em;
      list-style: none;
    }

    li {
      display: block;
      background: #FFF;
    }

    a {
      text-decoration: none;
    }
  }
}

.input-item {
  margin: .5em 0;

  label {
    margin-right: 1em;
  }

  input {
    border: 1px solid #D1D1D1;;
    padding: .2em;
  }
}

.button-row {
  margin-top: 2em;

  button {
    padding: .2em .5em;
  }
}

.LayoutPage-container {
  align-items: center;
  border-bottom: 1px solid #000;
  display: flex;
  gap: 2em;
  padding: 1em;

  h1 {
    margin: 0;
  }

  nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
  }
}

.ErrorPage-container {
  margin: 5em 0;
  text-align: center;
}